.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #ECEFA4;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #171010;
  font-size: 8rem;
  color: #D54C4C;
}

p {
  font-size: 2rem;
  color: #8D2828;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #171010;
  font-size: 1.2em;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}

.flag-left{
  font-size: 5em;
  color: #DF5E5E;
  float: left;
}

.flag-right{
  font-size: 5em;
  color: #DF5E5E;
  float: right;
}
.flag-inv{
  visibility: hidden;
}
